@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

$primary: mat-palette($mat-orange, 800, 600, 900);
$accent:  mat-palette($mat-amber, 500, 700, 900);
$warn:    mat-palette($mat-red, 600, 100, 900);
$theme:   mat-light-theme($primary, $accent, $warn);

// Style controls with our theme that don't support it by default
$app-theme: mat-light-theme($primary, $accent);

/**
 * Style external components with our theme
 */
@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  td-navigation-drawer a[mat-list-item] h3 {
    color: mat-color($accent);
  }

  td-navigation-drawer a[mat-list-item] mat-icon {
    color: mat-color($accent);
    background-color: mat-color($accent);
  }

  td-navigation-drawer a[mat-list-item].active-nav-link h3 {
    color: mat-color($primary);
  }

  td-navigation-drawer a[mat-list-item].active-nav-link mat-icon {
    color: mat-color($primary);
  }

  td-navigation-drawer a[mat-list-item]:hover mat-icon,
  td-navigation-drawer a[mat-list-item]:hover h3 {
    color: #fff;
  }

  .mat-accent .mat-input-element {
    caret-color: #000;
  }

  .loading-mask-container button[mat-fab] {
    background-color: mat-color($primary, 600);
    &.no-progress:hover {
      background-color: mat-color($primary, 800);
    }
  }

  .dismiss-btn {
    color: mat-color($primary);
  }
}

@include angular-material-theme($theme);
@include covalent-theme($theme);
@include mix-app-theme($app-theme);